header {
  background-image: url("../../assets/hero-vector.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 10px;
}

.hero-section {
  display: flex;
  align-items: center;
  text-align: left;
}

.hero-section .content-container,
.image-container {
  flex: 1;
  width: 100%;
}

.content-container > h1 > span {
  color: #f60;
  color: linear-gradient(121.76deg, #ffde59 15.41%, #ff1616 81.48%);
}

.content-container h1 {
  font-size: 48px;
  font-weight: 400;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.content-container p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin: 20px 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.content-container > form {
  display: flex;
}

.content-container > form > input {
  width: 100%;
  padding: 10px 20px;
  background: none;
  color: #fff;
  outline: none;
  border: 1px solid #f60;
}

.content-container > form > button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  height: 43px;
  border: 1px solid #f60;
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background: linear-gradient(
    121.76deg,
    hsl(48, 100%, 67%) 15.41%,
    hsl(0, 100%, 54%) 81.48%
  );
  cursor: pointer;
}

.content-container > form > button > img {
  height: inherit;
  width: inherit;
}

.image-container {
  display: none;
}

.statistics {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  align-items: center;
  padding: 20px 0;
}

.statistics figure {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 14px;
}

/* stylelint-disable-next-line no-descending-specificity */
.statistics figure img {
  width: 50px;
  aspect-ratio: 1;
}

.statistics figcaption h3 {
  font-size: 24px;
  font-weight: bold;
}

.statistics figcaption p {
  margin: 0;
  font-size: small;
}

@media (min-width: 768px) {
  .hero-section {
    padding: 20px 40px;
    /* stylelint-disable-next-line unit-no-unknown */
    height: 100svh;
  }

  .hero-section .content-container,
  .image-container {
    flex: 1;
    width: auto;
  }

  .content-container > form {
    width: 80%;
  }

  .image-container {
    display: inline-block;
    display: flex;
    justify-content: end;
  }

  .image-container > img {
    width: 80%;
  }
}
